*{
    box-sizing: border-box;
    font-size: 95%;
}

#container{
    text-align: center;

}

.heroText{
    font-size: 3em;
    margin-bottom: 15px;
}

.search-input{
    width: 400px;
    height: 30px;
    padding: 5px;
    border-radius: 4px;
    outline: none;
}

.search-btn{
    width: 50px;
    height: 30px;
    background-color: aquamarine;
    border: none;
}

.info{
    color: gray;
    padding-top: 15px;
    font-size: 1.3rem;
}

#imageContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
    padding: 25px;
}

.result-item{
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.nav-btn{
    height: 40px;
    width: 100px;
    color: white;
    background-color: rgb(240, 21, 208);
    border: none;
    margin-bottom: 20px;
    border-radius: 7px;
}

.photographer-name{
    text-decoration: none;
}

.photographer-name a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.hidden{
    display: none;
}